# ignore java classes
/java/**/*.java
/java/**/*.class
/article/**/*.java
/article/**/*.class

# ignore output files
*.docx
*.pdf
*.odt

/article/*.tex
/article/*.pdf
/article/ltximg/*

*.db

# ignore out folder
/out/
python/data/*

# ignore logseq files
logseq/*
pages/*

/learn/*.tex

/mysql/*.tex
/mysql/*.pdf